<!DOCTYPE html>
<html>
<title>File Upload</title>

<body>
  <form action="/file_muti" method="POST" enctype="multipart/form-data">
    <div class="">
      <label for="file">文件</label>
      <input type="file" name="file" id="file" multiple>
    </div>
    <div>
      <input type="submit" value="登录" />
    </div>
  </form>
</body>

</html>