<!DOCTYPE html>
<html>
  <title>POST_FORM</title>
  <body>
    <form action="/post_form" method="POST">
      <div class="">
        <label for="username">username</label>
        <input type="text" name="username" id="username">
      </div>
      <div class="">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
      </div>
      <div>
        <input type="submit" value="登录" />
      </div>
    </form>
  </body>
</html>